@use '@/shared/styles/animations';
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

// @/shared/ui/referral-link/ReferralLink.module.scss
.referralLinkWrapper {
    position: relative;
    width: 100%;
}

.referralLink {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    // Наследуем стили инпута
    input {
        text-align: left;
        cursor: pointer;
    }
}

.input {
    width: 100%;

    input {
        padding-right: 50px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 20px;
        color: $neon-blue;
        cursor: pointer;
        border-color: $neon-blue;
    }
}

.copyIcon {
    position: absolute;
    right: 16px;
    width: 24px;
    height: 24px;
    color: $neon-blue;
    pointer-events: none;
}
