@use '@/shared/styles/animations';
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

.backButton {
    position: fixed;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 36px;
    height: 36px;
    left: 16px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.08);
    z-index: 30;

    .icon {
        width: 20px;
    }
}
