@use '@/shared/styles/animations';
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

.card {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 12px 16px;
    background: rgba(255, 255, 255, 0.08);
    border-bottom: 1px solid $accent;
    border-radius: 16px;
    color: white;
    outline: none;
    transition: border-color 0.2s ease;
    @include fadeInUpStaggered;

    .avatar {
        width: 48px;
        aspect-ratio: 1 / 1;
    }

    .username {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .profit {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        align-items: center;
        gap: 4px;
    }
}
