@use 'sass:color';
@use '@/shared/styles/animations';
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

.cardWrapper {
    position: relative;
    display: grid;
    @include fadeInUpStaggered;

    .card {
        position: relative;
        z-index: 10;
        display: grid;
        grid-template-rows: 1fr max-content max-content max-content;
        justify-items: center;
        width: 100%;
        height: 228px;
        padding: 8px;
        border-radius: 16px;
        border-bottom: 2px solid color.mix($accent, black, 60%);

        .plate {
            position: absolute;
            z-index: 11;
            bottom: 0;
            width: 100%;
            aspect-ratio: 1 / 0.75;
            overflow: hidden;
            border-radius: 16px;
            background: rgba(0, 0, 0, 0.16);
        }

        .image {
            position: absolute;
            width: 100%;
            z-index: 12;

            filter: blur(2px) grayscale(0.8);
            transition: filter 0.9s ease;

            &.purchased {
                filter: none;
            }
        }

        .machineName {
            position: relative;
            z-index: 13;
            align-self: self-end;
            max-width: 80%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 0.75rem;
        }

        .displayText {
            position: relative;
            z-index: 13;
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: max-content;
            align-items: center;
            align-self: self-end;
            gap: 4px;
            height: 36px;
        }

        .statusText {
            position: relative;
            padding: 0 16px;
            width: 100%;
            height: 36px;
            align-self: self-end;
            align-content: center;
            z-index: 13;
        }

        .info {
            position: absolute;
            z-index: 13;
            right: 0;
            width: max-content;
            color: $neon-orange !important;

            .activationsDisplay {
                height: 36px;
                padding: 0 8px;
                border-radius: 8px;
                background: rgba(255, 255, 255, 0.08);
            }
        }

        .not_purchased {
        }

        .awaiting,
        .in_progress {
            background:
                linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)),
                radial-gradient(
                    80% 80% at 50% -20%,
                    rgba(202, 68, 255, 0.2) 0%,
                    rgba(0, 0, 0, 0) 100%
                );
        }

        // .in_progress {
        //     background:
        //         linear-gradient(
        //             180deg,
        //             rgba(0, 0, 0, 0.16) 0%,
        //             rgba(0, 0, 0, 0.16) 25.48%,
        //             rgba(202, 68, 255, 0.66) 32.69%,
        //             #ca44ff 100%
        //         ),
        //         radial-gradient(80% 80% at 50% 0%, rgba(202, 68, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
        // }

        .waiting_for_reward {
            background: radial-gradient(80% 80% at 50% -20%, #ca44ff 0%, rgba(0, 0, 0, 0) 100%);
        }

        // Статичные классы для каждого уровня прогресса
        &.progress0 .in_progress {
            background:
                linear-gradient(
                    to top,
                    rgba(202, 68, 255, 0.66) 0%,
                    #ca44ff 0%,
                    rgba(0, 0, 0, 0.16) 0%,
                    rgba(0, 0, 0, 0.16) 100%
                ),
                radial-gradient(
                    80% 80% at 50% 0%,
                    rgba(202, 68, 255, 0.2) 0%,
                    rgba(0, 0, 0, 0) 100%
                );
        }

        &.progress10 .in_progress {
            background:
                linear-gradient(
                    to top,
                    rgba(202, 68, 255, 0.66) 0%,
                    #ca44ff 10%,
                    rgba(0, 0, 0, 0.16) 10%,
                    rgba(0, 0, 0, 0.16) 100%
                ),
                radial-gradient(
                    80% 80% at 50% 0%,
                    rgba(202, 68, 255, 0.2) 0%,
                    rgba(0, 0, 0, 0) 100%
                );
        }

        &.progress20 .in_progress {
            background:
                linear-gradient(
                    to top,
                    rgba(202, 68, 255, 0.66) 0%,
                    #ca44ff 20%,
                    rgba(0, 0, 0, 0.16) 20%,
                    rgba(0, 0, 0, 0.16) 100%
                ),
                radial-gradient(
                    80% 80% at 50% 0%,
                    rgba(202, 68, 255, 0.2) 0%,
                    rgba(0, 0, 0, 0) 100%
                );
        }

        &.progress30 .in_progress {
            background:
                linear-gradient(
                    to top,
                    rgba(202, 68, 255, 0.66) 0%,
                    #ca44ff 30%,
                    rgba(0, 0, 0, 0.16) 30%,
                    rgba(0, 0, 0, 0.16) 100%
                ),
                radial-gradient(
                    80% 80% at 50% 0%,
                    rgba(202, 68, 255, 0.2) 0%,
                    rgba(0, 0, 0, 0) 100%
                );
        }

        &.progress40 .in_progress {
            background:
                linear-gradient(
                    to top,
                    rgba(202, 68, 255, 0.66) 0%,
                    #ca44ff 40%,
                    rgba(0, 0, 0, 0.16) 40%,
                    rgba(0, 0, 0, 0.16) 100%
                ),
                radial-gradient(
                    80% 80% at 50% 0%,
                    rgba(202, 68, 255, 0.2) 0%,
                    rgba(0, 0, 0, 0) 100%
                );
        }

        &.progress50 .in_progress {
            background:
                linear-gradient(
                    to top,
                    rgba(202, 68, 255, 0.66) 0%,
                    #ca44ff 50%,
                    rgba(0, 0, 0, 0.16) 50%,
                    rgba(0, 0, 0, 0.16) 100%
                ),
                radial-gradient(
                    80% 80% at 50% 0%,
                    rgba(202, 68, 255, 0.2) 0%,
                    rgba(0, 0, 0, 0) 100%
                );
        }

        &.progress60 .in_progress {
            background:
                linear-gradient(
                    to top,
                    rgba(202, 68, 255, 0.66) 0%,
                    #ca44ff 60%,
                    rgba(0, 0, 0, 0.16) 60%,
                    rgba(0, 0, 0, 0.16) 100%
                ),
                radial-gradient(
                    80% 80% at 50% 0%,
                    rgba(202, 68, 255, 0.2) 0%,
                    rgba(0, 0, 0, 0) 100%
                );
        }

        &.progress70 .in_progress {
            background:
                linear-gradient(
                    to top,
                    rgba(202, 68, 255, 0.66) 0%,
                    #ca44ff 70%,
                    rgba(0, 0, 0, 0.16) 70%,
                    rgba(0, 0, 0, 0.16) 100%
                ),
                radial-gradient(
                    80% 80% at 50% 0%,
                    rgba(202, 68, 255, 0.2) 0%,
                    rgba(0, 0, 0, 0) 100%
                );
        }

        &.progress80 .in_progress {
            background:
                linear-gradient(
                    to top,
                    rgba(202, 68, 255, 0.66) 0%,
                    #ca44ff 80%,
                    rgba(0, 0, 0, 0.16) 80%,
                    rgba(0, 0, 0, 0.16) 100%
                ),
                radial-gradient(
                    80% 80% at 50% 0%,
                    rgba(202, 68, 255, 0.2) 0%,
                    rgba(0, 0, 0, 0) 100%
                );
        }

        &.progress90 .in_progress {
            background:
                linear-gradient(
                    to top,
                    rgba(202, 68, 255, 0.66) 0%,
                    #ca44ff 90%,
                    rgba(0, 0, 0, 0.16) 90%,
                    rgba(0, 0, 0, 0.16) 100%
                ),
                radial-gradient(
                    80% 80% at 50% 0%,
                    rgba(202, 68, 255, 0.2) 0%,
                    rgba(0, 0, 0, 0) 100%
                );
        }

        &.progress100 .in_progress {
            background:
                linear-gradient(
                    to top,
                    rgba(202, 68, 255, 0.66) 0%,
                    #ca44ff 100%,
                    rgba(0, 0, 0, 0.16) 100%,
                    rgba(0, 0, 0, 0.16) 100%
                ),
                radial-gradient(
                    80% 80% at 50% 0%,
                    rgba(202, 68, 255, 0.2) 0%,
                    rgba(0, 0, 0, 0) 100%
                );
        }
    }
}
