@use '@/shared/styles/animations';
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

.header {
    width: 100%;
    height: max-content;
    display: grid;
    grid-auto-rows: max-content;
    justify-items: center;
    gap: 1rem;

    .contentBlock {
        display: grid;
        justify-items: center;
        gap: 1rem;
        @include segmentContentBounceIn();

        .actions {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: max-content;
            justify-content: start;
            gap: 1rem;

            .action {
                display: grid;
                grid-template-rows: auto auto;
                justify-items: center;
                gap: 0.25rem;
                text-decoration: none;
            }

            .iconWrap {
                display: grid;
                place-items: center;
                width: 44px;
                height: 44px;
                border-radius: 9999px;
                background: rgba(255, 255, 255, 0.08);
            }

            .icon {
                width: 22px;
                height: 22px;
                color: $accent;
            }

            .label {
                font-size: 14px;
            }

            .deposit .icon {
                rotate: -45deg;
            }

            .withdraw .icon {
                rotate: 135deg;
            }
        }
    }
}

// .deposit {
//     .icon {
//         color: $neon-blue;
//     }
//     .label {
//         color: $neon-blue;
//     }
// }

// .withdraw {
//     .icon {
//         color: $neon-orange;
//     }

//     .label {
//         color: $neon-orange;
//     }
// }
