@use '@/shared/styles/animations';
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

.balance {
    display: grid;
    grid-auto-rows: max-content;
    justify-items: center;
    width: 100%;

    .convertRub {
        color: $color-gray;
    }

    .amount {
        font-size: 2rem;
    }
}
